/*...................."Inter"font .................*/

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/*.................... All content................... */
*{
    margin:0;
    padding:0;
}
/* ......................"nav-section".................*/
.nav-section{
    display:flex;
    margin:0 auto;
    max-width:1600px;
    justify-content:space-between;
    padding:16px 120px;
    align-items: center;
}
.nav-img{
    width:139px;


}
.ul-features{
    display:flex;
    gap:32px;
    align-items: center;
    list-style: none;
    width:367px;
    font-weight: 500;
    color:#000000;

}
.ul-features a{
    text-decoration: none;
    color:#000000;
}
.btn1{
    padding:12px 16px;
    font-weight:600;
    background-color: #469165;
    color:#FFFFFF;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
.btn1:hover{
    background-color:#2f6f4b;
    color:black;
    border:4px solid #001931;
}

/*........................ hero-section ....................*/
.hero-section{
    max-width:1600px;
    background: url("../B13-A01-Knowledge-Vault/assets/hero-bg.png");
    background-repeat: no-repeat;
    display:flex;
    margin:0 auto;
}
.hero-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:115.5px 120px 179.5px;
}              
.hero-section .active-box{
display:inline-flex;
justify-content: center;
width:229px;
background-color:#FFFFFF;
border-radius: 1000px;
font-weight:500;
color:#30b868;
gap:6px;

}
.active-box img{
    width:16px;
    height:16px;
    border-radius:8px;
    padding:10px 6px 10px 12px;


}
.active-box p{
    color:#30b868;
    width:183px;
    align-items: center;
    padding:8px 12px 8px 0;
    font-size:15px;
}
.content h1{
    width:770px;
    margin:16px 295px;
    font-size:72px;
    line-height:84px;

}
.content p{
    max-width:1360px;
    margin-bottom: 32px;
    font-size:18px;
    color:#FFFFFF;
    text-align: center;
    line-height:24px;
}

.btn-container .btn2{
    display:inline-flex;
    border:none;
    background-color:#30b868;
    border-radius: 4px;
    gap:10px;
    padding:16px;
    font-size:16px;
    font-weight:600;
    color:#FFFFFF;
    cursor: pointer;
    margin-right:16px;
}
.btn-container .btn2:hover{
    background-color: #2f6f4b;
    color:black;
    border:4px solid #001931;

}
.btn-container .btn3{
    border:2px solid white;
    border-radius:4px;
    background-color: rgba(255, 255, 255, 0);
    padding:16px;
    font-weight:600;
    font-size:16px;
    color:#FFFFFF;
    cursor:pointer;

}
.btn-container .btn3:hover{
    background-color: rgba(192, 192, 192, 0.411);
    color:black;
    border:4px solid #001931;
}
.btn3 i{
    margin-right:10px;
}
/* ...............card section............. */
#card-section{
    background-color: #f4f2f26d;
    max-width: 1600px;
    margin:0 auto;
}
.card-container{
    width:85%;
    max-width:1360px;
    margin:0 auto;
}
.card-container .note-container{
    text-align:center;
    margin:0 auto;
    max-width:1360px;
    margin-bottom:44px;

}
.card-container .note-container h1{
    width:1360px;
    height:117px;
    display:flex;
    justify-content: center;
    align-items:flex-end;
    font-size:48px;
    font-weight:bold;
    margin-bottom:16px;
    color:#001931;
}
.card-container .note-container p{
    width:1360px;
    line-height:20px;
    color:#627382;
    margin-bottom:44px;
}
.card-container .note-container p , h1{
    margin-top:0;
}
.note{
    display:flex;
    gap:24px;
}
.note .note-card{
    max-width: 322px;
    align-items: center;
    padding:69.5px 24px 21.5px;
    box-shadow:0 0 8px 0 #00000022;
    background-color: #FFFFFF;
  
}
.note .note-card .img-box{
margin:0 auto;
display:flex;
border-radius: 50%;
width:60px;
height:60px;
background-color: #F95555;
align-items: center;
justify-content: center;
}
.note .note-card .img-box img{
    width:32px;
    height:32px;
}
.note .note-card h2{
    max-width: 274px;
    font-size:24px;
    font-weight: 600;
    margin-bottom:16px;
    color:#001931;
    text-align: center;
    
}
.note .note-card p{
    max-width: 274px;
    color:#627382;
    font-size:16px;
    line-height:20px;
    border-radius:8px;
    text-align: center;

}
/* ...........Brain Section............. */
#brain-section{
    max-width: 1600px;
    margin:0 auto;
}
#brain-section .brain-container{
    padding:120px;
    display:flex;
    gap:60px;
    justify-content: center;
}
#brain-section .brain-container .img-part{
    width:600px;
    border-radius: 12px;
}
#brain-section .brain-content{
padding:120px 0 ;
max-width: 700px;

}
#brain-section .brain-content h4{
    color:#30b868;
    font-weight: 500;
    margin-bottom:16px;

}
#brain-section .brain-content h1{
    margin-bottom:16px;
    color:#001931;
    font-size:48px;
    font-weight:bold;

}
#brain-section .brain-content p{
    margin-bottom:40px;
    line-height:20px;
    text-align:left;
    color:#627382;
}
#brain-section .brain-content ul{
    list-style: none;
    max-width: 428px;
}
#brain-section .brain-content ul img{
width:20px;
height:20px;
}
#brain-section .brain-content ul li{
    display:flex;
    align-items:center;
    margin-bottom:16px;
}
/* ...........challenge section............. */
#challenge-container{
    max-width: 1600px;
    margin:0 auto;
}
.challenge-content{
    width:85%;
    max-width: 1360px;
    margin:2px 120px 120px 120px;
    background-color: #F7F6F2;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.challenge-content .child-1{
    max-width:1280px;
    text-align: center;
    padding:80px 40px 24px;
}
.challenge-content .child-1 h1{
    font-size:40px;
    font-weight:bold;
    margin-bottom:16px;
    color:#001931;
}
.challenge-content .child-1 p{
    font-size:16px;
    font-weight: 400;
    color:#627382;
    line-height: 24px;
}
.challenge-content .btn4{
    display: inline-flex;
    border:none;
    background-color: #30b868;
    color:#FFFFFF;
    border-radius:4px;
    padding:16px;
    gap:10px;
    margin-bottom:16px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
    cursor:pointer;
}
.challenge-content .btn4:hover{
    background-color: #2f6f4b;
    color:#000000;
    border:4px solid #001931;
}
.challenge-content .P2{
    font-size:16px;
    font-weight:400;
    color:#627382;
    margin-bottom:55px;
}
/* ..............footer section............ */
#footer-section{
    max-width:1600px;
    margin:0 auto;

}
.about-container{
 background-color: #001931;
width:85%;
max-width:1360px;
padding:120px 120px 30px;
margin:0 auto;
}
.footer-container{
display:flex;
gap:1001px;
align-items:center;
margin-bottom:80px;
}
.footer-container ul li img {
    width:20px;
    height:20px;
}
.footer-container .social-link p{
    color:#FFFFFF;
    font-size:20px;
    font-weight:500;
    margin-bottom:16px;
}
.footer-container .social-link li{
    display:inline;
    margin-right:16px;
}
.about-container .copyright{
    color:#FAFAFA;
    text-align:center;
    margin-top:30px;
}


