/* css for "Inter"font */

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;;
}
/* css for all content */
*{
    margin:0;
    padding:0;
}
/* css for "nav-section" */
.nav-section{
    display:flex;
    max-width: 1600px;
    margin:16px 120px;
    justify-content:space-between;
    background-color: #FFFFFF;
    align-items: center;
}
.nav-img{
    width:139px;


}
.ul-features{
    display:flex;
    gap:32px;
    align-items: center;
    list-style: none;
    width:367px;
    font-weight: 500;
    color:#000000;

}
.ul-features a{
    text-decoration: none;
    color:#000000;
}
.btn1{
    padding:12px 16px;
    font-weight:600;
    background-color: #469165;
    color:#FFFFFF;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
.btn1:hover{
    color:#2f6f4b;
}